<header class='p-3 mb-3 border-bottom'>
    <div class='container'>
    <div class='d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start'>
    <a class='d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none' href='/'>
        <svg class='bi mx-2' height='2em' width='2em'><use href='#pesawat'></use></svg>
    </a>
    <ul class='nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0'>
    <li><a class='nav-link px-2 link-body-emphasis' href='/'>Home</a></li>
    <li><a class='nav-link px-2 link-body-emphasis' href='/search/label/tools'>Tools</a></li>
    <li><a class='nav-link px-2 link-body-emphasis' href='/p/sitemaps.html'>Sitemap</a></li>
    <li><a class='nav-link px-2 link-body-emphasis' href='/p/contact-me.html'>Contact</a></li>
    </ul>
    <form action='/search/max-results=6' class='col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3' method='get' role='search'>
    <input class='form-control' name='q' placeholder='Search...' type='search'/>
    </form>
    <div class='dropdown dropdown-menu-end bd-mode-toggle'>
    <button aria-expanded='false' aria-label='Toggle theme (auto)' class='btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center' data-bs-toggle='dropdown' id='bd-theme' type='button'>
    <svg class='bi my-1 theme-icon-active' height='1em' width='1em'><use href='#circle-half'></use></svg>
    <span class='visually-hidden' id='bd-theme-text'>Toggle theme</span>
    </button>
    <ul aria-labelledby='bd-theme-text' class='dropdown-menu dropdown-menu-end shadow'>
    <li>
    <button aria-pressed='false' class='dropdown-item d-flex align-items-center' data-bs-theme-value='light' type='button'>
    <svg class='bi me-2 opacity-50 theme-icon' height='1em' width='1em'><use href='#sun-fill'></use></svg>
                Light
                <svg class='bi ms-auto d-none' height='1em' width='1em'><use href='#check2'></use></svg>
    </button>
    </li>
    <li>
    <button aria-pressed='false' class='dropdown-item d-flex align-items-center' data-bs-theme-value='dark' type='button'>
    <svg class='bi me-2 opacity-50 theme-icon' height='1em' width='1em'><use href='#moon-stars-fill'></use></svg>
                Dark
                <svg class='bi ms-auto d-none' height='1em' width='1em'><use href='#check2'></use></svg>
    </button>
    </li>
    <li>
    <button aria-pressed='true' class='dropdown-item d-flex align-items-center active' data-bs-theme-value='auto' type='button'>
    <svg class='bi me-2 opacity-50 theme-icon' height='1em' width='1em'><use href='#circle-half'></use></svg>
                Auto
                <svg class='bi ms-auto d-none' height='1em' width='1em'><use href='#check2'></use></svg>
    </button>
    </li>
    </ul>
    </div>
    </div>
    </div>
</header>