body a:link, body a:visited{text-decoration:none;color:currentcolor}
body a:hover{opacity:.9;transition:opacity .1s;text-decoration: underline;}
.bd-mode-toggle {z-index: 1500;}
.bd-mode-toggle .dropdown-menu .active .bi {display: block !important;}
.kursor {
    cursor: pointer;
    text-decoration:none;
  }
  
  .zisToTop.show {
    visibility:visible;
    bottom:60px;
    opacity:.6;
    background-color:var(--dark-warna-cta);
  }
  
  .zisToTop.show:hover {
    opacity:1;
    background-color:var(--dark-warna-cta-hover);
  }