:root{
--dark-bg: #191919;
--dark-bg-aksen: #202020;
--dark-bg-aksen-hover: #323232;
--dark-warna-pertama: #ffffff;
--dark-warna-kedua: #cfd2d6;
--dark-warna-ketiga: #989898;
--dark-warna-cta: #0890e5;
--dark-warna-cta-hover: #007fc4;
}
.kursor {
cursor: pointer;
text-decoration:none;
}
.zisToTop{
visibility: hidden;
width: 40px;
height: 40px;
position: fixed;
bottom: 150px;
right: 10px;
z-index: 1500;
opacity: 0;
transition: all .5s;
}
.zisToTop.show {
visibility:visible;
bottom:60px;
opacity:.6;
background-color:var(--dark-warna-cta);
}

.zisToTop.show:hover {
opacity:1;
background-color:var(--dark-warna-cta-hover);
}
