:root{
    --dark-bg: #191919;
    --dark-bg-aksen: #202020;
    --dark-bg-aksen-hover: #323232;
    --dark-warna-pertama: #ffffff;
    --dark-warna-kedua: #cfd2d6;
    --dark-warna-ketiga: #989898;
}

[data-bs-theme="dark"] body,
[data-bs-theme="dark"] #header.header-top{
background: var(--dark-bg);
}
[data-bs-theme="dark"] #header h1 a{
    color: var(--dark-warna-pertama);
}
[data-bs-theme="dark"] #header h1 a:hover,
[data-bs-theme="dark"] #header h2 span{
    color: var(--dark-warna-ketiga);
}
[data-bs-theme="dark"] #header h2{
    color: var(--dark-warna-kedua);
}
[data-bs-theme="dark"] #header .social-links a{
    background: var(--dark-bg-aksen);
    color: var(--dark-warna-pertama);
}
[data-bs-theme="dark"] #header .social-links a:hover{
    background: var(--dark-bg-aksen-hover);
}
[data-bs-theme="dark"] .navbar a,
[data-bs-theme="dark"] .navbar a:focus {
    color: var(--dark-warna-pertama);
}